<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk android:minSdkVersion="10" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Guardian Locker App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PIIII_Grupo6"
        tools:targetApi="31">
        <activity
            android:name=".ConfirmarFotosActivity"
            android:exported="false" />
        <activity
            android:name=".ExcluirLocActivity"
            android:exported="false" />
        <activity
            android:name=".MostrarInfosActivity"
            android:exported="false" />
        <activity
            android:name=".MostrarLocacaoActivity"
            android:exported="false" />
        <activity
            android:name=".VincularPulseiraIdActivity"
            android:exported="false" />
        <activity
            android:name=".BuscarLocIdActivity"
            android:exported="false" />
        <activity
            android:name=".VincularPulseiraActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".TirarFotoActivity"
            android:exported="false" />
        <activity
            android:name=".SelectPessoasActivity"
            android:exported="false" />
        <activity
            android:name=".AcessarArmarioActivity"
            android:exported="false" />
        <activity
            android:name=".LiberarLocacaoActivity"
            android:exported="false" />
        <activity
            android:name=".MainViewGerenteActivity"
            android:exported="false" />
        <activity
            android:name=".ShowCardActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".MinhasLocacoesActivity"
            android:exported="false"
            android:parentActivityName=".RentManagerActivity" />
        <activity
            android:name=".CodeActivity"
            android:exported="false" />
        <activity
            android:name=".RentActivity"
            android:exported="false"
            android:parentActivityName=".MainViewActivity" />
        <activity
            android:name=".RentManagerActivity"
            android:exported="false" />
        <activity
            android:name=".CreateCardActivity"
            android:exported="false"
            android:parentActivityName=".ShowCardActivity" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainViewActivity"
            android:exported="false"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="android:screenOrientation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
    </application>

</manifest>